.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5a5858;
}

.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 70%;
  width: 50%;
}

.pdf-container {
  transform-origin: bottom left;
}


/* .container1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 50%;
  width: 50%;
} */

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
.chat-options{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #aed581;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #33691e;
}
.decription-container {
  margin:10px;
  position: relative;
}

.question-icon {
  cursor: pointer;
}

.description-box {
  position: absolute;
  top: 20px; /* Adjust the position as needed */
  left: 0;
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 9999;
}

.container:hover .description-box {
  display: block;
}

