.form {
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: #aed581;
}

.message {
  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  width:100%;
  border: solid green !important;
  border-radius: 20px !important ;
  padding: 10px;
}
.input {
  border: none;
  color: #33691e;
  font-size: 1.2em;
  padding-left: 10px;
  outline: none;
  overflow: hidden;
}
.input::placeholder {
  color: #33691e;
}
.share-video {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #33691e;
  padding: 20px;
  display: inline-block;
  border: none;
  width: fit-content;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}
.sendButton {
  color: #33691e !important;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
}
.sendButton:hover{
  cursor: pointer;
}
.share-video:hover {
  background: #689f38;
}
.sendButton::after {
  background: #33691e;
}
.share-video::after {
  background: #33691e;
}